# virtualenv files
env/

# env files for using --build-arg testing in local docker container
.env

# python cache files
__pycache__/

# env file for testing local (when using docker-compose in command prompt)
env-secrets.txt